<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="user" value="cyl"/>
    <add key="password" value="123"/>
    <add key="serverurl" value="K-PC\SQLEXPRESS"/>
    <add key="database" value="baithi"/>
    <add key="tempdatabase" value=""/>
  </appSettings>
</configuration>